# ─────────────────────────────────────────
# SERVER
# ─────────────────────────────────────────
PORT=3000

# ─────────────────────────────────────────
# POSTGRESQL
# ─────────────────────────────────────────
POSTGRES_URI=postgresql://postgres:root@localhost:5432/db_megastore_exam

# ─────────────────────────────────────────
# MONGODB
# ─────────────────────────────────────────
MONGO_URI=mongodb://admin:root@localhost:27017/db_megastore_exam?authSource=admin

# ─────────────────────────────────────────
# FILES
# ─────────────────────────────────────────
FILE_DATA_CSV=./data/AM-prueba-desempeno-data_m4.csv
